.news-thumbnail {
    width: 270px;
    margin: 10px;
    height: 450px;
    float: left;
    position: sticky;
    border: 1px solid burlywood;
}
.news-image {    
    height: 200px;
    width: 270px;
    text-align: center;
    margin: auto;
}
.news-overview {
    height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin: auto;
    font-size: 14px;
}
.news-header {
    height:70px;
    width:270px;
    font-size: 18px;
    text-align: justify;
    margin: auto;
}
.news-overview::-webkit-scrollbar {
    width: 2px;
    background:  gray;
}
.news-actions {
    text-align: center;
    position: relative;
}
